DATABASE_URL=postgresql+psycopg://skilllog_user:skilllog_password@db:5432/skilllog_db
SECRET_KEY=change-this-secret-key-later-please-use-env-file
ACCESS_TOKEN_EXPIRE_MINUTES=60

POSTGRES_USER=skilllog_user
POSTGRES_PASSWORD=skilllog_password
POSTGRES_DB=skilllog_db